[project]
name = "ansible-{{ project_type }}-{{ project_slug }}"
version = "0.1.0"
description = "{{ project_description.removesuffix('.') }}"
readme = "README.md"
authors = [
    { name = "{{ user_name }}", email = "{{ user_email }}" },
]
license = { text = "{% if license == 'Proprietary' %}LicenseRef-Proprietary{% else %}{{ license }}{% endif %}" }
requires-python = ">={{ python_version }}"
dependencies = []

[dependency-groups]
dev = [
    "ansible>=11.0.0",
{% if project_type == "collection" %}
    "ansible-core~={{ ansible_core_version }}",
{% endif %}
    "ansible-lint>=24.10.0; platform_system != 'Windows'",
    "mypy>=1.13.0",
    "ruff>=0.8.1",
]

[tool.mypy]
strict = true

[[tool.mypy.overrides]]
module = ["ansible.*"]
ignore_missing_imports = true

[tool.ruff.lint]
extend-select= [
    "I",  # isort
]
unfixable = [
    "F401",  # unused imports
]

[tool.uv]
# https://github.com/astral-sh/uv/issues/6127
environments = [
    "platform_system == 'Windows'",
    "platform_system != 'Windows'",
]
