[defaults]
inventory=inventory
collections_path=.ansible/collections
roles_path=roles
vault_password_file=vault/password.py
interpreter_python=auto_silent
{% if playbook_become %}

[privilege_escalation]
become=True
{% endif %}

[connection]
pipelining=True
