namespace: "{{ collection_namespace }}"
name: "{{ collection_name }}"
version: "0.1.0"
readme: "README.md"
authors:
  - "{{ user_name }} <{{ user_email }}>"
description: "{{ project_description.removesuffix('.') }}"
{% if license != "Proprietary" %}
license:
  - "{{ license }}"
{% endif %}
dependencies: {}
{% if repo_url %}
repository: "{{ repo_url }}"
{% if forge == "github" %}
issues: "{{ repo_url }}/issues"
{% endif %}
{% endif %}
build_ignore:
  - ".ansible-lint"
  - "{{ _copier_conf.answers_file }}"
  - ".gitignore"
  - ".mypy_cache"
  - ".python-version"
  - ".ruff_cache"
  - ".venv"
  - ".yamllint"
  - "justfile"
  - "pyproject.toml"
  - "uv.lock"
